:root {
  --primary-color: #5f0080;
}

a {
  display: block;
  text-decoration: none;
}

.button {
  inline-size: 21.25rem;
  block-size: 3.375rem;
  margin: 5px;
  border-radius: 0.25rem;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
}

.stroke {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid var(--primary-color);
  color: var(--primary-color);
}

.fill {
  background-color: var(--primary-color);
  border: 0;
  color: #fff;
}
